<!-- Add HTML tags here to be included in the head -->

<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="{{ site.title }} Feed">
<meta name="google-site-verification" content="Q4alfJ-3zti2cWCI237VLPpBIA_2dUIgKD-XOKNBoag" />
<meta name="naver-site-verification" content="5e8ed03dc002ddb2f7ddfb16414638153a8a2544" />
<meta name="google-adsense-account" content="ca-pub-4283584332925690">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GWMQSX5C69"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GWMQSX5C69');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4283584332925690"
     crossorigin="anonymous"></script>